/*** GLOBAL VARIABLES ***/
:root {
    --color-seance: #692591;
    --color-purple-heart: #8943b3;
}

/*** GLOBAL SELECTORS***/
* {
    box-sizing: border-box;
}

a, button {
    cursor: pointer;
    font-family: 'Nothing You Could Do', cursive;
}

button {
    font-weight: 700;
}

body {
    font-family: 'Nothing You Could Do', cursive;
}

/*** MAIN STYLING ***/

.o-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    max-width: 1400px;
    max-height: 800px;
    width: 100%;
    height: 100%;
    padding: 0 3.5rem;
    background-color: var(--color-seance);
    box-shadow: 0 19px 35px 0 rgba(0, 0, 0, .20);
}



/*** ETCH-A-SKETCH OPTIONS ***/
.eas__options {
    display: flex;
    padding: 1.6rem 0;
    gap: 10px;
    color: #fff;
}

.eas__options>* {
    display: flex;
    gap: 1.5rem 1.8rem;
}

.eas__resize {
    flex-direction: column;
    font-size: 1.4rem;
}

.eas__colors {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: none;
}

.eas__colors>button {
    flex: 1 1 45%;
    border: none;
}

.eas__label-px, .eas__colors>button{
    font-size: clamp(1rem, 1vw, 2rem);
}

.eas__colors>button:hover, .eas__erase-wrapper button:hover, .eas__colors--active {
    color: #fff;
    background: var(--color-purple-heart);
}

.eas__erase-wrapper button {
    border: none;
    padding: .8em 1.1em;
}

.eas {
    width: 100%;
    height: 100%;
    flex: 1 1 75%;
    border: 2px solid rgba(22, 22, 22, 0.1);
    border-radius: 5px;
    background: #fff;
}

.eas__grid-container {
    width: inherit;
    height: inherit;
    max-height: 540px;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(16, '30px');
    grid-gap: 1px;
}

.eas__txt {
    text-align: center;
    padding: 1rem;
    color: #fff;
    font-size: clamp(1.4rem, 3.8vw, 2.7rem);
}

.grid-row-container {
    width: 100%;
    display: grid;
    background-color: inherit;
    grid-template-columns: repeat(16, '34px');
    grid-gap: 1px;
}

.grid {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: inherit;
    transition: background-color .24s;
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    .eas__erase-wrapper {
        display: flex;
        justify-content: end;
    }
}

/*** BREAKPOINTS ***/
@media screen and (min-width: 768px) {
    .eas__erase-wrapper {
        display: flex;
        justify-content: end;
    }
}

@media screen and (max-width: 760px) and (max-height: 428px) and (orientation: landscape) {
    .main-container {
        border-radius: 0;
    }

    .eas__resize {
        display: flex;
        flex-direction: row;
        flex-basis: 20%;
    }

    .eas__options {
        flex-direction: column;
        gap: 10px;
    }

    .eas__colors {
        flex-direction: row;
        flex-wrap: nowrap;
        flex-basis: 60%;
    }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
    .main-container {
        height: 100%;
        max-height: 100%;
        border-radius: 0;
        padding: 0 1.2rem;
    }

    .eas__options {
        flex-direction: column;
    }
}

@media screen and (max-width: 640px) {
    .main-container {
        height: 100%;
        max-height: 100%;
        border-radius: 0;
        padding: 0 1.2rem;
    }

    .eas__options {
        flex-direction: column;
        gap: 10px;
    }

    .eas__colors {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}